.container
{
    font-family: Arial, Helvetica, sans-serif;
    display:block;
    /* box-sizing: border-box; */
    width: 956px;
    height: 438px;
    border: 20px solid #E0E0E0;
}

.left-1, .right-1
{
    display: block;
    /* box-sizing:border-box; */
    position:relative;
    width:438px;
    height:438px;
    margin: 0;
    /* overflow:auto; */

}

.left-1
{
    float:left;
    left:0px;
    margin-left: 30px;
}

header
{
    padding-top:50px;
    text-align: right;
    /* margin-bottom: 200px; */
}

a
{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover
{
    font-weight:bolder;
}

.headline
{
    font-style: italic;
}

main
{
    margin-bottom: 40px;
}

.legal
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    background-color: #E0E0E0;
    text-align:right;
}


.right-1
{
    
    width:438px;
    height:438px;
    float:right;
    right:0;
    overflow:hidden;
}

img
{
    position:relative;
    box-sizing:border-box;
    width: 828px;
    height: 438px;
    float:right;
    right:-150px;
    overflow:hidden;
    
}